# Сетевой репозиторий для установки
d-i mirror/protocol string http
d-i mirror/http/hostname string dl.astralinux.ru
d-i mirror/http/directory string /astra/stable/1.7_x86-64/repository-main
# Настройки языка
d-i mirror/country string manual
d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru
# Настройки клавиатуры
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Ctrl+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Ctrl+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia
# Настройки сетевого интерфейса
d-i netcfg/choose_interface select auto
# Выбор компонент репозитория
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
#d-i apt-setup/services-select none
# Настройка часов и синхронизации времени
d-i clock-setup/utc boolean true
# d-i time/zone string Europe/Moscow
d-i time/zone string Europe/Saratov
# Определяет, нужно ли использовать NTP для установки часов во время установки
d-i clock-setup/ntp boolean true
# Используемый сервер NTP. Значение по умолчанию указывается здесь. Для примера указан сервер ВНИИФТРИ.
d-i clock-setup/ntp-server string ntp4.vniiftri.ru
# Разметка диска
#Если система имеет свободное место, вы можете выбрать для разметки
# только его.
# Замечание: нужно указывать локализованные (переведённые) значения.
#d-i partman-auto/init_automatically_partition \
# select Авто - использовать наибольшее свободное место

#Или же, вы можете задать размечаемый диск. Имя устройства
# должно задаваться в обычном не-devfs формате.
# Например, для использования первого жёсткого диска SCSI/SATA:
#d-i partman-auto/disk string /dev/sda
# Замечание: если вы хотите использовать любой доступный диск, не важно
# какое у него имя, закоммерируйте строку выше. Она работает только если
# в системе один жёсткий диск.
# Также, вы можете указать какой метод использовать.
# Доступные методы: "regular", "lvm" и "crypto"
d-i partman-auto/method string regular

# Автоматическая установка на компьютеры с уже установленной ОС в режиме UEFI без запроса подтверждения
# d-i partman-efi/non_efi_system boolean true
# Если один из дисков, который нужно разметить с помощью автоматической
# разметки, содержит старую конфигурацию LVM, то пользователю выдаётся
# предупреждение. Ответ можно автоматизировать...
d-i partman-auto/purge_lvm_from_device boolean true
# И подтвердить запись lvm разделов.
d-i partman-lvm/confirm boolean true

# Вы можете выбрать любой из имеющихся наборов разметки.
# Замечание: он должен содержать локализованные (переведённые) значения.
# Расскомментируйте ниже нужный тип разметки

# Для режима legacy bios:
d-i partman-auto/choose_recipe select atomic

# Для режима UEFI:
# d-i partman-auto/choose_recipe select /lib/partman/recipes-amd64-efi/30atomic

# Этот параметр заставляет partman выполнить разметку автоматически
# без подтверждения.
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-auto-crypto/erase_disks boolean true
d-i partman-basicfilesystems/no_swap boolean true
d-i partman-target/mount_failed boolean true
d-i partman-partitioning/unknown_label boolean true
d-i partman-auto/purge_lvm_from_device string true
d-i partman-lvm/vgdelete_confirm boolean true
d-i partman/confirm_write_new_label string true
d-i partman-lvm/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

 
d-i base-installer/kernel/image string linux-image-generic
 
d-i passwd/make-user boolean true
# Учетная запись и пароль пользователя
d-i passwd/user-fullname string user
d-i passwd/username string user
d-i passwd/user-password password 0A9s8d7F
d-i passwd/user-password-again password 0A9s8d7F
 
d-i debian-installer/allow_unauthenticated string true
# Выбор ПО для установки
tasksel tasksel/first multiselect Base packages, Fly desktop, SSH server
tasksel tasksel/astra-feat-setup multiselect
# Выбор уровня защищенности ОС
d-i astra-additional-setup/os-check select Maximum security level Smolensk
# Выбор параметров ОС
d-i astra-additional-setup/additional-settings-smolensk multiselect Enable Mandatory Integrity Control, Enable Mandatory Access Control, Disable ptrace capability
 
tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false
tripwire tripwire/installed note ok
portsentry portsentry/warn_no_block note ok
astra-license astra-license/license boolean true
krb5-config krb5-config/kerberos_servers string
libnss-ldapd libnss-ldapd/ldap-base string
libnss-ldapd libnss-ldapd/ldap-uris string
libnss-ldapd libnss-ldapd/nsswitch multiselect services
ald-client ald-client/make_config boolean false
# ald-client ald-client/manual_configure false
astra-feat-setup astra-feat-setup/feat multiselect kiosk mode false
astra-feat-setup astra-feat-setup/feat multiselect Служба ALD false
d-i console-cyrillic/switch select "Клавиша Menu"
d-i console-cyrillic/toggle select Control+Shift
d-i samba-common/dhcp boolean false
d-i samba-common/workgroup string WORKGROUP
 
popularity-contest popularity-contest/participate boolean false
 
d-i grub-installer/only_debian boolean true
 
d-i grub-installer/with_other_os boolean true
# Пароль загрузчика grub
d-i grub-installer/password password 0A9s8d7F
d-i grub-installer/password-again password 0A9s8d7F
# grub-installer grub-installer/password-mismatch error
# Не показывать последнее сообщение о том, что установка завершена.
d-i finish-install/reboot_in_progress note
d-i finish-install/exit/poweroff boolean true
 
#d-i preseed/late_command string in-target apt purge -y ntp ; \
#                                in-target systemctl enable systemd-timesyncd.service ; \
#                                in-target rm -f /etc/NetworkManager/system-connections/*;
#d-i preseed/late_command string \
#cp -R /cdrom/extra/ /target/root/; \
#in-target cd /root; \
#in-target chmod 777 /root/extra/postinst.sh; \
#in-target /bin/bash /root/extra/postinst.sh
d-i preseed/late_command string in-target systemctl enable ssh ; \
                                in-target wget -O /usr/local/bin/astra-postinstos.sh http://file.netip4.ru/LINUXSCRIPTS/Astra/PostInstallOS/astra-postinstos.sh; \
                                in-target chmod +x /usr/local/bin/astra-postinstos.sh; \
                                in-target /bin/bash /usr/local/bin/astra-postinstos.sh;
