[Unit]
Description=Astra Post Installation
After=rc-local.service network-online.target
Before=getty.target
Before=systemd-user-sessions.service
 
[Service]
StandardOutput=tty
Type=oneshot
ExecStart=/usr/local/bin/astra-postinstos.sh
 
[Install]
WantedBy=multi-user.target